.container-fluid {
    background-color: #ffffff;
    margin-top: 40px;
    padding: 40px 80px 40px 80px;
}


.header {
    text-align: right;
}

#personal-logo {
	float: left;
	width: 100px;
}

.img-responsive {
	max-width: 100%;
}

hr {
    border: none;
    height: 5px;
    color: #7d97ad; /* old IE */
    background-color: #8095aa; /* Modern Browsers */
}

.portfolio-title {
	margin-top: 50px;
	margin-bottom: 25px;
	color: #02b3e4;
}

.portfolio {
	text-align: center;
}

#footer-text {
	text-align: center;
}