.container-fluid {
    background-color: white;
    margin-top: 40px;
    padding: 40px 80px 40px 80px;
}

h2 {
    text-align: center;
}


.header {
    text-align: right;
}


hr {
    border: none;
    height: 5px;
    color: #8095aa; /* old IE */
    background-color: #8095aa; /* Modern Browsers */
}

.udacitylogo {
    width: 100px;
    float: left;
}

